.loading-mask {
  visibility: hidden !important;
}

.notification-container.new-interactions-exist.ontop {
	width: 80%;
}

.notification-container.open.ontop {
	width: 80%;
}

.chat-room {
  top: 0px !important;
  left: 37% !important;
}

.chat-header {
  display: none !important;
}

.chat-lines {
  font-family: "Roboto-Light" !important;
  font-size: 20px !important;
  padding: 0px !important;
  width: 80% !important;
}

.chat-lines .ember-view.message-line.chat-line.scrollback-background {
  background-color: #fEE50E !important;
}

.scrollback-marker {
  height: 2px !important;
  background-color: #FF0000 !important;
}

.ember-chat .scroll.chat-messages {
  height: 96% !important;
}

.chat-lines .ember-view:nth-child(odd) .chat-line {
  background-color: #efefef !important;
  border-top: 0px solid #f1f1f1 !important;
}

.chat-lines .ember-view:nth-child(even) .chat-line {
  border-top: 0px solid #f1f1f1 !important;
}

.ember-chat .chat-messages .message-line.chat-line {
  line-height: 24px !important;
  padding: 6px 10px !important;
}

.ember-chat .badges .badge {
  margin-top: 3px !important;
}

.badges .badge:not(.subscriber) {
  border-radius: 2px !important;
}

.emoticon {
  margin: 0px !important;
}

.ember-chat .chat-messages .message-line.chat-line .indicator {
  border-top: 7px solid rgba(0, 0, 0, 0);
  border-right: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 7px solid rgba(0, 0, 0, 0);
  border-left: 7px solid #FFF;
  margin: 6px 0px;
}

.ember-view.message-line.chat-line.notification {
  background-color: #00a4ff !important;
}

.ember-view.message-line.chat-line.notification .message {
  color: white !important;
}

.ember-chat .chat-interface .textarea-contain {
  margin-bottom: 0px !important;
}

.ember-chat .chat-interface .emoticon-selector {
  bottom: 96% !important;
  right: 0px !important;
}

.dropmenu {
  margin: 0px !important;
}

.ember-chat-container .ember-chat .chatters-view {
  border-left: 1px solid #ccc !important;
  font-size: 18px !important;
  left: 80% !important;
  top: 13% !important;
  height: 87% !important;
}

.chat-room .chatters {
  border-bottom: 0px solid #ccc !important;
}

.ember-chat .chatters-view .chatters-container #viewers {
  padding: 0px 10px !important;
}

.chat-interface {
  height: 4% !important;
  padding: 0px !important;
  width: 80.1% !important;
}

#chat_text_input {
  border-top: 1px solid #CCC !important;
  border-right: 0px solid #CCC !important;
  border-bottom: 0px solid #CCC !important;
  border-left: 0px solid #CCC !important;
}

/*----------  STRAWPOLL ADD-ON  ----------*/
#strawpoll-container {
  background: #f2f2f2;
  border-top: 1px solid #ccc;
  bottom: 0%;
  left: 80.1%;
  position: absolute;
  width: 20%;
  z-index: 5;
}

#strawpoll-container h4 {
  font-weight: 100;
  padding: 2px;
  text-align: center;
}

#strawpoll-container ul {
  padding: 10px;
  text-align: center;
}

#strawpoll-container input[type='button'] {
  background: #6441A5;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}

#streams-controller {
  background: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  left: 87.4%;
  padding: 4px;
  position: absolute;
  top: 0%;
  width: 12.6%;
  z-index: 5;
}

#streams-container {
  height: 100%;
  width: 37%;
  position: absolute;
}

#streams-container object{
  position: absolute;
}

#streams-container object#stream-1{
  top: 0px;
}

#streams-container object#stream-2{
  top: 300px;
}

#streams-container object#stream-3{
  top: 600px;
}
